*.pdf
*.aux
*.bbl
*.lof
*.tcp
*.tps
*.blg
*.gz
*.log
*.fig
*.svg
*.tif
*.ai
*.zip
*.png
*.eps
*.toc
*.out
*.docx
*.ait
*.mat
*.lnk
*.jpg
*.pptx
*.xcf
*.rar
Thesis/old_Noreen_stuff/
Misc/Downloads_Gildeprint/
